@import "../../styles/_colors";

$icon-color: $yellow-post-it;

.material-icons.contact {
  margin: 0 10px 0 0;
}

.contact-card-content > p > a {
  font-weight: 500;
  line-height: 2.5;
}

.contact-card-content > p > i {
  color: $icon-color;
}
