$white: white;
$blue-grey: #607d8b;
$blue-grey-dark: #455a64;
$dark-grey: #424242;
$light-grey: #f1f1f1;
$grey: #e0e0e0;
$black: #000000;
//$blue: #3b5998;
$blue: #0277bd;
$yellow: #fdd835;
//$yellow: #f9a825;
$amber: #ffa000;
$brown: #5d4037;
$red: #ef5350;
//$red: #e53935;
$green: #81c784;
//$green: #4caf50;
//$green: #0f9d58;
$purple: #9575cd;

$primary-color: $blue;
$accent-color: $amber;

$logo-art: $accent-color;
$logo-algie: $white;
$menu-text: $white;
$burger-menu-link-active-background: $light-grey;
$burger-menu-link-active-text: $accent-color;
$burger-menu-link-active-text2: $green;
$burger-menu-link-active-text3: $yellow;
$burger-menu-link-active-text4: $red;
$footer: $primary-color;
$footer-text: $white;
$footer-link: $white;
$logo-art-weight: 600;
$logo-algie-weight: 400;
$title: $accent-color;
$card-title: $accent-color;
$card-title-weight: 400;
$promo-icon: $blue-grey;
$promo-icon-info: $accent-color;
$promo-text-info: $dark-grey;

$roboto: Roboto, sans-serif;
$font-menu: $roboto;
$font-footer: $roboto;


body {
  background-color: $light-grey;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
}

.buttonLink {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.buttonLink:hover, .ButtonLink:focus {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.brand-logo > .art {
  color: $logo-art;
  font-weight: $logo-art-weight;
}

.brand-logo > .algie {
  color: $logo-algie;
  font-weight: $logo-algie-weight;
}

#root > div > div > nav {
  background-color: $primary-color;
}

#root > div > div > div > ul > li > nav {
  background-color: $primary-color;
}

#root > div > div > div > ul {
  background-color: $white;
}

nav .nav-wrapper > .sidenav-trigger {
  color: $menu-text;
}

nav .nav-wrapper > .brand-logo {
  color: $menu-text;
}

nav .nav-wrapper > ul#nav-mobile > li > a:hover {
  background-color: $primary-color;
  color: $light-grey;
}

nav .nav-wrapper > ul#nav-mobile > li > a {
  color: $menu-text;
  font-family: $font-menu;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  margin: -4px 0 -4px 0;
}

ul.sidenav > li > a.active {
  background-color: $burger-menu-link-active-background;
  font-weight: 700;
}

nav .nav-wrapper > ul#nav-mobile > li > a.active {
  font-weight: 700;
  //border-bottom-color: $burger-menu-link-active-text;
}

nav .nav-wrapper > ul#nav-mobile > li:nth-child(4n+1) > a.active {
  border-bottom-color: $burger-menu-link-active-text;
}

nav .nav-wrapper > ul#nav-mobile > li:nth-child(4n+2) > a.active {
  border-bottom-color: $burger-menu-link-active-text2;
}

nav .nav-wrapper > ul#nav-mobile > li:nth-child(4n+3) > a.active {
  border-bottom-color: $burger-menu-link-active-text3;
}

nav .nav-wrapper > ul#nav-mobile > li:nth-child(4n) > a.active {
  border-bottom-color: $burger-menu-link-active-text4;
}

@media only screen and (min-width: 992px) {

  nav > div > a.brand-logo {
    padding-left: 20px;
  }
}

.brand-logo {
  font-family: 'Product Sans', Roboto, sans-serif;
  font-size: 2.1rem;
}

.sidenav .user-view {
  padding: 0;
}

nav .nav-wrapper > ul#nav-mobile > li > a.active {
  color: $white;
}

ul.sidenav > li > a.active,
ul.sidenav > li > a.active > i {
  color: $burger-menu-link-active-text;
}

.sidenav-trigger.buttonLink:focus {
  background-color: $primary-color;
}

footer.page-footer {
  background-color: $footer;
}

.footer-text {
  color: $footer-text;
  font-family: $font-footer;
}

.footer-link {
  color: $footer-link;
  font-family: $font-footer;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100vw;
  height: 150vh; // this should be dynamic, right now it's fixed based on a min max offset
  background-size: cover;
  background-position: center;
}

.hero-children {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-title {
  color: $card-title;
  font-weight: $card-title-weight;
}

.accueil>.hero-container {
  height: 30rem;
}

.accueil-text {
  font-size: 1.4rem;
  color: $black;
}

.col.no-padding {
  padding: 0;
}

.card.no-margin {
  margin: 0;
}

.promo {
  color: $promo-icon;
}

.promo-info {
  color: $promo-icon-info;
}

.promo-text-info {
  color: $promo-text-info;
}

.title {
  color: $accent-color;
}