$primary-color: white;
$grey-blue: #37474f;
$dark-grey: #424242;

$menu-text: $grey-blue;
$menu-link: $grey-blue;
$footer: $dark-grey;

$light-grey:#eeeeee;

body {
  background-color: $light-grey;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root>div>nav {
  background-color: $primary-color;
}

nav .nav-wrapper>.brand-logo {
  color: $menu-text;
}

nav .nav-wrapper>ul#nav-mobile>li>a {
  color: $menu-text;
}

.brand-logo {
  font-family: 'Product Sans', Roboto, sans-serif;
}


footer.page-footer {
  background-color: $footer;
}




.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100vw;
  height: 150vh; // this should be dynamic, right now it's fixed based on a min max offset
  background-size: cover;
  background-position: center;
}

.hero-children {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}